@charset "utf-8";
/*icon*/
@font-face {
	font-family: 'icomoon';
	src: url('../fonts/icomoon.eot?t=20180330v1');
	src: url('../fonts/icomoon.eot?t=20180330v1') format('embedded-opentype'),
		url('../fonts/icomoon.ttf?t=20180330v1') format('truetype'),
		url('../fonts/icomoon.woff?t=20180330v1') format('woff'),
		url('../fonts/icomoon.svg?t=20180330v1') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: 'icomoon' !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	font-size: 20px;
	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
        vertical-align: middle;
}
[class^="icon-"]:before{
  vertical-align: text-bottom;
  text-transform: none;
}

.icon-google-plus:before {
  content: "\e900";
}
.icon-conversion:before {
  content: "\e901";
}
.icon-home:before {
  content: "\e902";
}
.icon-product:before {
  content: "\e903";
}
.icon-time:before {
  content: "\e904";
}
.icon-arrow:before {
  content: "\e905";
}
.icon-notice:before {
  content: "\e906";
}
.icon-del:before {
  content: "\e907";
}
.icon-checkok:before {
  content: "\e908";
}
.icon-setting:before {
  content: "\e909";
}
.icon-close:before {
  content: "\e90a";
}
.icon-excel:before {
  content: "\e90b";
}
.icon-info:before {
  content: "\e90c";
}
.icon-loop:before {
  content: "\e90d";
}
.icon-plus:before {
  content: "\e90e";
}
.icon-search:before {
  content: "\e90f";
}
.icon-triangle:before {
  content: "\e910";
}
.icon-user:before {
  content: "\e911";
}
.icon-admin:before {
  content: "\e912";
}
.icon-user2:before {
  content: "\e913";
}
.icon-error:before {
  content: "\e914";
}
.icon-exclamation:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e916";
}
.icon-user1:before {
  content: "\e917";
}
.icon-analysis:before {
  content: "\e918";
}
.icon-computer:before {
  content: "\e919";
}
.icon-mobile:before {
  content: "\e91a";
}
.icon-coin:before {
  content: "\e91b";
}
.icon-money:before {
  content: "\e91c";
}
.icon-chartbar:before {
  content: "\e91d";
}
.icon-cart:before {
  content: "\e91e";
}
.icon-target:before {
  content: "\e91f";
}
.icon-love:before {
  content: "\e920";
}
.icon-direction:before {
  content: "\e921";
}
.icon-edit:before {
  content: "\e922";
}
.icon-rise:before {
  content: "\e923";
}
.icon-flat:before {
  content: "\e924";
}
.icon-fall:before {
  content: "\e925";
}
.icon-prev:before {
  content: "\e926";
}
.icon-next:before {
  content: "\e927";
}
.icon-last:before {
  content: "\e928";
}
.icon-first:before {
  content: "\e929";
}
.icon-location:before {
  content: "\e92a";
}
.icon-mail:before {
  content: "\e92b";
}
.icon-tel:before {
  content: "\e92c";
}
.icon-tips:before {
  content: "\e92d";
}
.icon-upload:before {
  content: "\e92e";
}
.icon-ban:before {
  content: "\e92f";
}
