// 連結
.el-link {
  // 預設顯示底線
  &--underline {
    font-weight: bold;
    &:after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      height: 0;
      bottom: 0;
      border-bottom: 1px solid $purple;
    }
    &:hover {
      &:after {
        display: none;
      }
    }
  }
}