@charset "utf-8";
/*******************************************************************************
 * version 1.0 release;
 * copyright 2020
 ******************************************************************************/
@import '../abstracts/variables',
'../abstracts/function',
'../abstracts/mixins';

// element lightbox
.el-dialog {
  border-radius: 0;

  // 標題
  &__header {
    border-bottom: 1px solid $gray-4;
    padding: 16px;
    font-weight: bold;
  }

  // 內容
  &__body {
    padding: 16px 20px;
  }

  // 關閉按鈕
  &__headerbtn {
    top: 16px;
    right: 16px;
  }

  // 內容按鈕
  &__actions {
    margin-top: 35px;
    margin-bottom: 0;
    display: flex;

    > *:not(.el-form-item__content) {
      flex: 1 1 auto;
    }

    &--form {
      .el-form-item__content {
        display: flex;

        > * {
          flex: 1 1 auto;
        }
      }
    }
  }
}


.el-message-box {
  padding-bottom: 30px;
  &__header {
    color: $deep-purple;
    font-weight: bold;
    padding: 16px;
    border-bottom: 1px solid #ddd;
    text-align: center;
  }
  &__title {
    font-size: 18px;
    line-height: 24px;
  }
  &__content {
    padding: 25px 25px 35px;
  }
  &__btns {
    padding: 0 25px 0;
    display: flex;
    .el-button {
      flex: 1 1 auto;
      height: 40px;
      font-size: 14px;
    }
  }
}